.layui-footer{
  text-align: center;
  font-size: 12px;
}
.iconfont{
  margin-right: 8px;
}
.layui-icon{
  margin-right:8px;
  margin-left: 15px;
}
iframe{
  width: 100%;
  height: 100%;
}
.layui-body{
  overflow: hidden;
}

a{
  transition: none !important;
}

.userinfo{
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 12px;
  user-select: none;
}
.layui-side-scroll .userinfo{
  border-bottom: 1px solid rgb(38,42,48);
}
.text-avatar{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color:rgb(0, 150, 136) ;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: rgb(255,255,255);
  position: relative;
  top: 4px;
  margin-right: 10px;
}
.layui-nav-img{
  height: 40px;
  width: 40px;
}